<mat-toolbar class="traffic-toolbar">
  <mat-toolbar-row>
    <!-- Menu Button -->
    <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- App Title -->
    <span class="app-title">
      <span class="title-text">{{'SEARCH.TITLE' | translate}}</span>

    </span>

    <!-- Spacer -->
    <span class="spacer"></span>

    <!-- Right Side Controls -->
      <div class="header-controls">
        <!-- Language Selector -->
        <mat-select [(value)]="lang" (selectionChange)="onLanguageChange($event)" >
          <mat-option value="am">
            <span class="language-option">
              <span class="flag-icon"></span> Amharic
            </span>
            
          </mat-option>
          <mat-option value="en">
            <span class="language-option">
              <span class="flag-icon"></span> English
            </span>
          </mat-option>
        </mat-select>

      <!-- User Profile Menu -->
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-button">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #profileMenu="matMenu" class="profile-menu">
        <button mat-menu-item>
          <mat-icon class="menu-icon">person</mat-icon>
          <span>{{'SEARCH.PROFILE' | translate}}</span>
        </button>
        <button mat-menu-item>
          <mat-icon class="menu-icon">settings</mat-icon>
          <span>{{'SEARCH.SETTING' | translate}}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/login']">
          <mat-icon class="menu-icon">exit_to_app</mat-icon>
          <span>{{'SEARCH.LOGOUT' | translate}}</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>  