<div class="dialog-container">
  <h1 mat-dialog-title class="dialog-title">
    <mat-icon class="title-icon">person</mat-icon>
    Driver Information
  </h1>

  <mat-divider class="divider"></mat-divider>

  <div mat-dialog-content class="dialog-content">
    <!-- Profile Header -->
  <form [formGroup]="form">
      <div class="profile-header">
      <div class="photo-container">
        <div class="photo-wrapper">
          <img src="assets/logo2.jpeg" alt="Driver Photo" class="driver-photo">
          <div class="status-badge active"></div>
        </div>
      </div>
      
      <div class="driver-info">
       <h2>{{ form.value.fullName }}</h2>
      </div>
    </div>

    <!-- Details Section -->
    <div class="details-section">
      
      <div class="form-grid">
        <!-- Row 1 -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Full Name</mat-label>
          <input matInput [readonly]="true" formControlName="fullName">
          <mat-icon matPrefix>badge</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nationality</mat-label>
          <input matInput [readonly]="true" formControlName="nationality">
          <mat-icon matPrefix>public</mat-icon>
        </mat-form-field>

        <!-- Row 2 -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Gender</mat-label>
          <input matInput [readonly]="true" formControlName="gender">
          <mat-icon matPrefix>transgender</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Date of Birth</mat-label>
          <input matInput [readonly]="true" formControlName="birthDate">
          <mat-icon matPrefix>cake</mat-icon>
        </mat-form-field>

        <!-- Row 3 -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Address</mat-label>
          <input matInput [readonly]="true" formControlName="
issuerRegion
">
          <mat-icon matPrefix>home</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Town</mat-label>
          <input matInput [readonly]="true" formControlName="licenceArea">
          <mat-icon matPrefix>home</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
  </div>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button mat-dialog-close class="close-btn">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
</div>