<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>{{'TEMP.TEMP_FORM_TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <!-- <div style="margin: 20px 0;">
      <mat-divider></mat-divider>
    </div> -->

    <mat-card-content>
      <!-- Section 1: Issuer Information -->
      <div style="margin: 20px 0;">
        <mat-divider style="background-color: teal;"></mat-divider>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field" style="width: 100px;">
          <mat-label>{{'SEARCH.ISSUER_REGION_PLACEHOLDER' | translate }}</mat-label>
          <mat-select formControlName="licenceRegion" (selectionChange)="onIssuerRegionChange($event.value)" required>
            <mat-option *ngFor="let region of licenceRegions" [value]="region.code">
              {{ region.amDescription }}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.LICENCE_AREA_PLACEHOLDER' | translate }}</mat-label>
          <mat-select formControlName="licenceArea" required>
            <mat-option *ngFor="let area of licenceAreas" [value]="area.code">
              {{ area.amDescription }}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.LICENCE_GRADE_PLACEHOLDER' | translate }}</mat-label>
          <mat-select formControlName="licenceGrade" required>
            <mat-option *ngFor="let category of licenceCatagories" [value]="category.code">
              {{category.displayName}}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Section 2: License Information -->
      <div style="margin: 20px 0;">
        <mat-divider></mat-divider>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.LICENCE_NUMBER_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="licenceNo" required minlength="6" maxlength="6" #licenseNumberInput>

          <!-- Character counter -->
          <mat-hint align="end">
            {{licenseNumberInput.value.length || 0}}/6
          </mat-hint>

          <!-- Error messages -->
          <mat-error *ngIf="registrationForm.get('licenceNo')?.hasError('required')">
            {{'ERROR.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="registrationForm.get('licenceNo')?.hasError('minlength') || 
                                  registrationForm.get('licenceNo')?.hasError('maxlength')">
            License number must be exactly 6 characters
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.ISSUED_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="issueDatePicker" formControlName="issuanceDate" required>
          <mat-datepicker-toggle matSuffix [for]="issueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #issueDatePicker></mat-datepicker>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
          <mat-error>{{ getErrorForIssueDate() }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Section 3: Personal Information -->
      <div style="margin: 20px 0;">
        <mat-divider></mat-divider>
      </div>
      <div class="form-row">
        <!-- Amharic Names -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.NAME_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="firstNameAmh" required  amharicOnly>
          <mat-error *ngIf="registrationForm.get('firstNameAmh')?.hasError('required')">
            {{ 'ERROR.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="registrationForm.get('firstNameAmh')?.hasError('amharicOnly')">
            {{ 'ERROR.INVALID_AMHARIC_CHARACTERS' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.F_NAME_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="fatherNameAmh" required>
           <mat-error *ngIf="registrationForm.get('fatherNameAmh')?.hasError('required')">
            {{ 'ERROR.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="registrationForm.get('fatherNameAmh')?.hasError('amharicOnly')">
            {{ 'ERROR.INVALID_AMHARIC_CHARACTERS' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.G_NAME_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="grandNameAmh" required>
           <mat-error *ngIf="registrationForm.get('grandNameAmh')?.hasError('required')">
            {{ 'ERROR.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="registrationForm.get('grandNameAmh')?.hasError('amharicOnly')">
            {{ 'ERROR.INVALID_AMHARIC_CHARACTERS' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <!-- English Names -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'TEMP.NAME_PLACEHOLDER_EN' | translate }}</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'TEMP.F_NAME_PLACEHOLDER_EN' | translate }}</mat-label>
          <input matInput formControlName="fatherName" required>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'TEMP.G_NAME_PLACEHOLDER_EN' | translate }}</mat-label>
          <input matInput formControlName="grandName" required>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field" style="flex: 0.62;">
          <mat-label>{{'SEARCH.NATIONALITY_PLACEHOLDER' | translate }}</mat-label>
          <mat-select formControlName="nationality" required>
            <mat-option *ngFor="let country of nationalities" [value]="country.code">
              {{country.amdescription}}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'TEMP.SEX' | translate }}</mat-label>
          <mat-select formControlName="sex" required>
            <mat-option *ngFor="let gender of genderOptions" [value]="gender.value">
              {{ gender.label }}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="outline" class="form-field" style="flex: 0.8;">
          <mat-label>{{'TEMP.DOB_PLACEHOLDER' | translate }}</mat-label>
          <input matInput [matDatepicker]="dobPicker" formControlName="birthDate" required>
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
          <mat-error>{{getErrorForBirthDate()}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="form-field phone-input-container" >
          <mat-label>{{'TEMP.TEL' | translate }}</mat-label>
          <span matPrefix>+251 &nbsp;</span>
          <input matInput formControlName="tel1" required maxlength="9" (input)="onPhoneInput($event)"
            placeholder="912345678" type="tel">
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
          <mat-error *ngIf="registrationForm.get('tel1')?.hasError('pattern')">
            Please enter exactly 9 digits (after +251)
          </mat-error>
        </mat-form-field>


      </div>

      <!-- Section 4: Address Information -->
      <div style="margin: 20px 0;">
        <mat-divider></mat-divider>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.REGION_PLACEHOLDER' | translate }}</mat-label>
          <mat-select formControlName="region" (selectionChange)="onRegionChange($event.value)" required>
            <mat-option *ngFor="let region of regions" [value]="region.code">
              {{ region.amDescription }}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>



        <!-- ZONE DROPDOWN (this is where the trigger must happen) -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.ZONE_PLACEHOLDER' | translate }}</mat-label>
          <mat-select formControlName="zone" (selectionChange)="onZoneChange($event.value)" required>
            <mat-option *ngFor="let zone of zones" [value]="zone.code">
              {{ zone.amDescription }}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.WOREDA_PLACEHOLDER' | translate }}</mat-label>
          <mat-select formControlName="woreda" (selectionChange)="onWoredaChange($event.value)" required>
            <mat-option *ngFor="let woreda of woredas" [value]="woreda.code">
              {{ woreda.amDescription }}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>


      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.KEBELE_PLACEHOLDER' | translate }}</mat-label>
          <mat-select formControlName="kebele" required>
            <mat-option *ngFor="let kebele of kebeles" [value]="kebele.code">
              {{ kebele.amDescription }}
            </mat-option>
          </mat-select>
          <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.HOUSE_NO_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="houseNo">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{'SEARCH.REMARK_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="remark" rows="2">
        </mat-form-field>
      </div>

      <!-- Section 5: Photo Upload -->
      <h3 class="section-title">{{'TEMP.PHOTO'  | translate }}</h3>
      <div class="image-upload-container">
        <input type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;" #fileInput>

        <div class="image-upload-preview" (click)="fileInput.click()"
          [class.has-error]="registrationForm.get('photo')?.invalid && registrationForm.get('photo')?.touched">
          <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview">
          <div class="upload-placeholder" *ngIf="!imagePreview">
            <mat-icon class="upload-icon">add_a_photo</mat-icon>
            <div class="upload-text">Click to upload photo</div>
            <div class="upload-requirements">(JPEG or PNG, max 5MB)</div>
          </div>
        </div>

        <mat-error *ngIf="registrationForm.get('photo')?.invalid && registrationForm.get('photo')?.touched">
          <span *ngIf="registrationForm.get('photo')?.hasError('required')">Photo is required</span>
          <span *ngIf="registrationForm.get('photo')?.hasError('fileSize')">File is too large (max 5MB)</span>
          <span *ngIf="registrationForm.get('photo')?.hasError('fileType')">Only JPEG or PNG images allowed</span>
        </mat-error>
      </div>
    </mat-card-content>

    <mat-card-actions align="end" class="form-actions">
      <button mat-button type="button" (click)="onReset()">
        <mat-icon>refresh</mat-icon>{{'SEARCH.CANCEL_BUTTON' | translate }}</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">{{'SEARCH.SAVE_BUTTON' | translate }}</button>
    </mat-card-actions>
  </mat-card>

</form>