<div class="suspension-management-container">
  <!-- Form Section -->
  <form [formGroup]="penaltyForm" (ngSubmit)="onSubmit()" class="registration-form">
    <mat-card class="form-card">
    <mat-card-header>
      <div>
        <mat-card-title style="margin-bottom: 20px;">{{ 'COMMON.SUS_TITLE' | translate }}</mat-card-title>
        <span style="margin-left: auto; width: 200px;"></span>
      </div>
      <span></span>
    </mat-card-header>



     

      <mat-card-content>
        <!-- <h3 class="section-title">Information</h3> -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'SEARCH.FULL_NAME' | translate }}</mat-label>
            <input matInput formControlName="fullName" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'SEARCH.LICENCE_NUMBER_PLACEHOLDER' | translate }}</mat-label>
            <input matInput formControlName="licenseNumber" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'COMMON.INJ_BODY' | translate }}</mat-label>
            <input matInput formControlName="injunctionBody">
            <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'COMMON.REG_DATE' | translate }}</mat-label>
            <input matInput [matDatepicker]="reg_date" formControlName="injunctionDate">
            <mat-datepicker-toggle matSuffix [for]="reg_date"></mat-datepicker-toggle>
            <mat-datepicker #reg_date></mat-datepicker>
            <mat-error>{{getErrorForRegDate()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'COMMON.SUS_DATE' | translate }}</mat-label>
            <input matInput [matDatepicker]="sus_date" formControlName="injunctionRegisteredDate">
            <mat-datepicker-toggle matSuffix [for]="sus_date"></mat-datepicker-toggle>
            <mat-datepicker #sus_date></mat-datepicker>
            <mat-error>{{getErrorForSupDate()}}</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'COMMON.SUS_LEVEL' | translate }}</mat-label>
            <mat-select formControlName="injunctionType" required (selectionChange)="onSuspensionLevelChange()">
              <mat-option *ngFor="let injunction of injunctions" [value]="injunction.id.toString()">
                {{ injunction.descriptionAmh }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="penaltyForm.get('injunctionType')?.hasError('required')">
              The field is required
            </mat-error>
          </mat-form-field>

        </div>

        <div class="form-row">
          <!-- Conditional Expiration Date Field -->
          <mat-form-field appearance="outline" class="form-field" *ngIf="showExpirationDate">
            <mat-label>{{'COMMON.SUS_EXP_DATE' | translate }}</mat-label>
            <input matInput [matDatepicker]="exp_date" formControlName="injunctionEndDate">
            <mat-datepicker-toggle matSuffix [for]="exp_date"></mat-datepicker-toggle>
            <mat-datepicker #exp_date></mat-datepicker>
            <mat-error>{{getErrorForExpDate()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'COMMON.SUS_LETT_NO' | translate }}</mat-label>
            <input matInput formControlName="injunctionLetterNo">
            <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'COMMON.SUS_RES_BAN' | translate }}</mat-label>
            <input matInput formControlName="reason">
            <mat-error>{{'ERROR.REQUIRED' | translate }}</mat-error>
          </mat-form-field>
        </div>

        <mat-card-actions align="end"  class="form-actions">
          <button mat-button type="button" (click)="onReset()">{{'SEARCH.CANCEL_BUTTON' | translate }}</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="penaltyForm.invalid">{{'SEARCH.SAVE_BUTTON' | translate }}</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>

  <!-- Table Section -->
  <mat-card class="table-card">
    <mat-card-header>
      <mat-card-title>{{'COMMON.SUS_TABLE' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>


      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="suspension-table">
          <!-- Blocking Body Column -->
          <ng-container matColumnDef="injunctionBody">
            <th mat-header-cell *matHeaderCellDef>{{'COMMON.INJ_BODY' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.injunctionBody}}</td>
          </ng-container>
          
          <!-- Registration Date Column -->
          <!-- <ng-container matColumnDef="injunctionDate">
            <th mat-header-cell *matHeaderCellDef>{{'COMMON.REG_DATE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.injunctionDate }}</td>
          </ng-container> -->

          <!-- Letter Number Column -->
          <ng-container matColumnDef="injunctionLetterNo">
            <th mat-header-cell *matHeaderCellDef>{{'COMMON.SUS_LETT_NO' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{element.injunctionLetterNo}}</td>
          </ng-container>

          <!-- Suspension Date Column -->
          <ng-container matColumnDef="injunctionDate">
            <th mat-header-cell *matHeaderCellDef>{{'COMMON.SUS_DATE' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.injunctionDate | date: 'yyyy-MM-dd' }}
            </td>
          </ng-container>

          <!-- Suspension Level Column -->
          <ng-container matColumnDef="injunctionType">
            <th mat-header-cell *matHeaderCellDef>{{'COMMON.SUS_LEVEL' | translate }}</th>
          <td mat-cell *matCellDef="let element">
               {{ getInjunctionDescription(+element.injunctionType) }}
          </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{'COMMON.SUS_STATUS' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <span class="status-badge" [class.active]="isActive(element)" [class.expired]="!isActive(element)">
                {{isActive(element) ? 'Suspended' : 'ታግዷል'}}
              </span>
            </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

 <mat-paginator
        [length]="totalCount"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        [pageIndex]="pageIndex"
        showFirstLastButtons
        (page)="onPageChange($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>