/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Example: Change background color */


.teal-button {
  background-color: #009688; /* Teal 500 */
  color: white;
}

.teal-button:hover {
  background-color: #00796b; /* Teal 700 */
}
